body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.component-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  width: 30rem;
  padding: 3rem;
  border-radius: 10px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.subtitle {
  font-size: 1.5rem;
}

.emoji {
  font-size: 150px;
}

.button {
  border: none;
  background-color: rgb(53, 94, 132);
  font-size: 1.3rem;
  color: #fff;
  padding: 1rem 3rem;
  cursor: pointer;
  border-radius: 40px;
  text-transform: capitalize;
}

.button:focus {
  outline: none;
}

.gif {
  margin-bottom: 1.5rem;
}
